form {
    width: 500px;
    display: flex;
    flex-direction: column;
}
mat-card-content {
    display: flex;
    justify-content: center;
}
mat-card-title {
    text-align: center;
}

div {
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
button {
    margin-bottom: 1rem;
}